body {
  margin: 0;
}
#container {
  display: flex;
  flex-direction: column;
  /*  */
  height: 100vh;
  /*  */
  background-color: antiquewhite;
}
#header {
  display: flex;
  align-items: flex-end;
  /*  */
  padding: 12px;
  gap: 12px;
  flex-basis: 100px;
  /*  */
  background-color: blue;
}

#header * {
  text-align: center;
  /*  */
  padding: 12px 0px;
  /*  */
  background-color: yellow;
}
#header > :first-child {
  flex-basis: 100px;
}
#header > :last-child {
  flex-grow: 1;
}

#main {
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
#content {
  background-color: aqua;
  padding: 24px;
}
footer {
  flex-basis: 60px;
  background-color: brown;
}
